
html, body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(33, 146, 243, 0.19);
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}